* {
    box-sizing: border-box;
}

body,
h1,
span,
th,
td {
    margin: 0;
    padding: 0;
}

a {
	color: black;
	text-decoration: none;
} 



a:active {
	text-decoration: none;
}


html {
    display: flex;
    justify-content: center;
}

body {
    display: block;
    align-items: center;
    width: 1280px;

}

/* 헤더 스타일 */
header {
    background-color: #f5f5f5;
}
header>h1{
	color: 5A88D5;  
	display: flex;
    flex-direction: column;
    align-items: center;
}


/* 로고 스타일 */
#logo {
	display: inline;

    width: 50px;
    /* 로고의 크기를 조정해주세요 */
	    
}
#login_mypage{
	display: flex;
	justify-content: end;
}



/* 네비게이션 스타일 */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #F1F0F5;
    padding: 20px;
}

.header_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_menu >img{
    box-shadow: 3px 3px 3px 3px gray;
}

.header_menu img {
    width: 100px;
    margin-bottom: 10px;
}



section {
    width: 100%;
}

section>div {
    display: flex;
    justify-content: space-around;
}

/* 검색 섹션 스타일 */
#search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#search div {
    display: flex;
    justify-content: space-around;

}

#search .input_div {
    display: flex;
    justify-content: center;
}


#search div>input {
    width: 600px;
    height: 50px;
    background-color: #f5f5f5;
}
#search tags{
    text-align: center;
    width: 600px;
    height: 60px;
    background-color: antiquewhite;
    margin: 20px;
    font-size: 1.3rem;
}


/* 레시피 이미지 섹션 스타일 */
#search_img>a{
/*    display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 24px;
}


#search_img img {
    width: 270px;
 border-radius: 30px 30px 30px 30px;
 }

/* 식재료 트렌드 테이블 스타일 */
#Food_ingredient_trends {
    display: flex;
    justify-content: space-around;
}

.Increase,
.degradation {
    display: flex;
}

#Food_ingredient_trends th {
    height: 70px;
}

/* 테이블 스타일 */
#Food_ingredient_trends th,
td {
    width: 350px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

/* 소비자 물가 동향 및 화제의 뉴스 스타일 */
.price_new {
    display: flex;
    justify-content: space-around;
}



.Consumer_price_trends,
.Price_news {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.Consumer_price_trends img {
    width: 400px;
}


/* 푸터 스타일 */
footer {
    display: flex;
    justify-content: center;
    background-color: #d0d0d0;
    padding: 20px;
}
/*----------------상세 레시피 페이지 시작---------------------*/
/*음식 이미지*/
#food > img{
	display: flex;
	border-radius: 20%;
	
}
/*즐겨찾기 버튼*/
#bookmark{
	display: flex;
	background-color : #F1F0F5;
	padding: 10px;
	align-items: center;
/*	margin-top: 150px;
	margin-bottom: 150px;
*/
}

.chart{
	background-color:  #F1F0F5;
	border-radius: 10%;
}
/*
#favorites{
	display: inline-block;
	border: 1px solid #5A88D5;
	padding: 10px;
}
*/