<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsilx.db.LboxMapper">


	<select id="SelectLboxName" parameterType="String"
		resultType="String">
		select distinct a.lbox_name
		from
		lunch_box_info a
		inner join
		lunch_box_ingredient_info b on a.lbox_seq =
		b.lbox_seq
		inner join
		ingredient_info c on b.ingre_seq = c.ingre_seq
		where c.ingre_name =
		#{item}
	</select>

	<select id="SelectLbox" parameterType="java.lang.String" resultType="com.bsilx.model.LunchBoxDTO">
		select distinct a.lbox_name lbox_name, a.lbox_img lbox_img, a.lbox_price lbox_price
		from lunch_box_info a
		inner join lunch_box_ingredient_info b on a.lbox_seq = b.lbox_seq
		inner join ingredient_info c on b.ingre_seq = c.ingre_seq	
		where a.lbox_name in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>	
		
	</select>


	<select id="SelectOneLbox" parameterType="String"
		resultType="LunchBox">
		select lbox_name, lbox_recipe, lbox_img, lbox_price
		from
		lunch_box_info where lbox_name = #{lbox_name}
	</select>

	<select id="SelectOneLboxIngre" parameterType="String"
		resultType="IngrePrice">
		select c.ingre_name
		from lunch_box_info a
		inner join
		lunch_box_ingredient_info b on a.lbox_seq = b.lbox_seq
		inner join
		ingredient_info c on b.ingre_seq = c.ingre_seq
		where a.lbox_name =
		#{lbox_name}
	</select>
	
	<select id="SelectLboxSeq" parameterType="String" resultType="int">
		select lbox_seq from lunch_box_info where lbox_name = #{lbox_name}
	</select>


</mapper>